/* Description */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.home {
  padding-top: 70px;
  width: 100vw;
  background: #f7f7f7;
}

@media screen and (max-width: 300px) {
  .home {
    padding-top: 150px;
    height: 130vh;
    width: 100vw;
    background: #f7f7f7;
  }
}

.homeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 300px) {
  .homeContainer {
    height: 130vh;
  }
}

.homeRow {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
