.test {
  height: 100%;
  position: relative;
}

.test:after {
  content: '';
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 92.5%;
  left: 50%;
  transition: all 0.4s;
}

.test:hover:after {
  left: 0%;
  width: 100%;
}
